# Step 1: Explore the Datasets
# _______________________________________________
### 1.yelp_business.json: establishment data regarding location and attributes for all business in the dataset.
### 2. yelp_review.json: Yelp review metadata by business.
### 3. yelp_user.json: user profile metadata by business.
### 4. yelp_checkin.json: online checkin metadata by business.
### 5. yelp_tip.json: tip metadata by business.
### 6. yelp_photo.json: photo metadata by business.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [4]:
#Load all the data sets
businesses_df = pd.read_json('datasets/yelp_regression_project/yelp_business.json', lines=True) #mutiple json objects in dataset
reviews_df = pd.read_json('datasets/yelp_regression_project/yelp_review.json', lines=True)
users_df = pd.read_json('datasets/yelp_regression_project/yelp_user.json', lines=True)
checkins_df = pd.read_json('datasets/yelp_regression_project/yelp_checkin.json', lines=True)
tips_df = pd.read_json('datasets/yelp_regression_project/yelp_tip.json', lines=True)
photos_df = pd.read_json('datasets/yelp_regression_project/yelp_photo.json', lines=True)

In [10]:
businesses_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   address             188593 non-null  object
 1   alcohol?            188593 non-null  int64
 2   attributes          162807 non-null  object
 3   business_id         188593 non-null  object
 4   categories          188052 non-null  object
 5   city                188593 non-null  object
 6   good_for_kids       188593 non-null  int64
 7   has_bike_parking    188593 non-null  int64
 8   has_wifi            188593 non-null  int64
 9   hours               143791 non-null  object
 10  is_open             188593 non-null  int64
 11  latitude            188587 non-null  float64
 12  longitude           188587 non-null  float64
 13  name                188593 non-null  object
 14  neighborhood        188593 non-null  object
 15  postal_code         188593 non-null  object
 16  price_range         188593 non-null  int64
 17  review_count        188593 non-null  int64
 18  stars               188593 non-null  float64
 19  state               188593 non-null  object
 20  take_reservations   188593 non-null  int64
 21  takes_credit_cards  188593 non-null  int64
dtypes: float64(3), int64(9), object(10)
memory usage: 31.7+ MB

In [11]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   business_id               188593 non-null  object
 1   average_review_age        188593 non-null  float64
 2   average_review_length     188593 non-null  float64
 3   average_review_sentiment  188593 non-null  float64
 4   number_funny_votes        188593 non-null  int64
 5   number_cool_votes         188593 non-null  int64
 6   number_useful_votes       188593 non-null  int64
dtypes: float64(3), int64(3), object(1)
memory usage: 10.1+ MB

In [13]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 6 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   business_id                 188593 non-null  object
 1   average_number_friends      188593 non-null  float64
 2   average_days_on_yelp        188593 non-null  float64
 3   average_number_fans         188593 non-null  float64
 4   average_review_count        188593 non-null  float64
 5   average_number_years_elite  188593 non-null  float64
dtypes: float64(5), object(1)
memory usage: 8.6+ MB

In [14]:
checkins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157075 entries, 0 to 157074
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   business_id       157075 non-null  object
 1   time              157075 non-null  object
 2   weekday_checkins  157075 non-null  int64
 3   weekend_checkins  157075 non-null  int64
dtypes: int64(2), object(2)
memory usage: 4.8+ MB

In [15]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121526 entries, 0 to 121525
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   business_id         121526 non-null  object
 1   average_tip_length  121526 non-null  float64
 2   number_tips         121526 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.8+ MB

In [16]:
photos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32976 entries, 0 to 32975
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   business_id             32976 non-null  object
 1   average_caption_length  32976 non-null  float64
 2   number_pics             32976 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 773.0+ KB

# Step 1: Explore the Datasets â€“ Conclusion

During the initial exploration of the datasets, several important findings were made:

## Key Findings

### 1. Shared `business_id` Column Across Datasets
- A key relationship between datasets is the `business_id` column, which acts as a primary identifier. 
- This enables joining the datasets for deeper analysis and integrating information about businesses across multiple dimensions.

### 2. Missing Data in Some Columns
- Certain columns within the datasets have missing or null values.
- This suggests the need for data cleaning or imputation to handle incomplete data effectively before performing any analysis.

### 3. Data Types and Formats
- The datasets contain a variety of data types, including strings, numbers, and categorical values. 
- Columns like `categories` or `attributes` may require further transformation or parsing due to their nested or string-encoded structures.

### 4. Large File Sizes
- The datasets are relatively large, indicating that memory optimization techniques, such as reading in chunks or working with a subset of data, might be necessary during analysis.


### 5. Dataset-Specific Observations
- **Business Dataset**: Contains essential details about businesses, including name, location, and category. Some businesses lack complete information on attributes like `hours` or `categories`.
- **Review Dataset**: Contains user-generated content that can be analyzed for sentiment, trends, and customer feedback patterns. Text fields may need preprocessing.
- **Check-in Dataset**: Provides insights into business foot traffic but may have sporadic or incomplete records.
- **User Dataset**: Includes user information, useful for understanding reviewer demographics or loyalty trends.

### 6. Preliminary Cleaning Needs
- Handling missing values, inconsistent data types, and duplicate records will be a necessary step before conducting in-depth analysis.